/*Global Style*/
*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

.header-container, .main-container, .footer-container {
	max-width: 98%;
	margin: 0 auto;
    overflow: hidden;
}


/*Header Style*/

.header-iteams{
    float: right;
    margin: 15px 0;
}

.header-container div{
    display: inline-block;
}

.header-container ul{
    list-style: none;
    display: flex;
}

.header-container ul li{
    padding: 10px;
}

.header-container ul li a{
    display: block;
    text-decoration: none;
}

.header-container ul li a:hover{
    text-decoration: underline;
}

.other1 {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    margin-right: 10px;
}

.gb_i{
    fill: #5f6368;
    width: 100%;
}

.other2 button{
    color: black;
    background-color: #8ab4f8;
    border-radius: 5px;
    width: 102px;
    height: 37px;
    border: 1px solid transparent;
}




/*main body css*/
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon, .voice-search, .image-search  {
    height: 30px;
    width: 30px;
    position: absolute;
}

main svg {
    width: 100%;
}

.search-box {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.search-box-content:hover {
	background-color: transparent;
	border-radius: 24px;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

  .search-box input {
	background-color: transparent;
	border: 1px solid #c1ccd9;
	border-radius: 24px;
    width: 100%;
    padding: 15px 75px 15px 45px;
    font-size: 16px;
}

#text-input:hover {
	border: 1px solid rgba(223,225,229,0);
}

#text-input:focus {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border: none;
	outline: none;
}

.search-box-content {
    display: flex;
    flex-basis: 584px;
    position: relative; 
  }
  .text-search {
    width: 100%;
  }

.image-search {
	right: 10px;
    top: 10px
}

.voice-search {
	right: 45px;
    top: 10px;
}

.search-icon {
	top: 11px;
	left: 10px;
}


.recommand {
    display: flex;
    justify-content: center;
    align-content: center;
}

button{
    color: black;
    padding: 8px;
}

.btn1{
    margin-right: 8px;
}

.btn2{
    margin-left: 8px;
}

.language{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 300px 0;
}

.country{
    margin: 10px 0;
}

/*Footer Styel*/

footer {
    background-color: #f2f2f2;
}

.footer-menu .menu-left {
    width: 50%;
}

.footer-menu {
    display: flex;
    margin: 10px;
}

.footer-menu ul {
    display: flex;
    list-style: none;
}
  
.footer-menu ul li {
    padding: 10px;
}
  
.footer-menu ul li a {
    text-decoration: none;
}
  
.footer-menu ul li a:hover {
    text-decoration: underline;
}

.menu-right{
    width: 50%;
}

.menu-right ul{
    float: right;
}